@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
  }

button {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 6px;
    border: none;
    background-color:#E0E0E0;
    box-shadow: 0 2px 3px rgb(33, 33, 33, .2);

    &:hover, &:focus {
        background-color : #AEAEAE;
    }
    &.outline {
        background-color: #0000;
        border: 1px solid #3D5AFE;
        color:#3D5AFE;
        box-shadow: none;

        &:hover, &:focus {
            background-color:rgba(41, 98, 255, 0.1);
        }
    }
    &.text {
        background-color: #0000;
        border: none;
        box-shadow: none;
        color:#3D5AFE;

        &:hover, &:focus {
            background: rgba(41, 98, 255, 0.1);
        }
    }
    &.disable-shadow {
        box-shadow: none;
    }
    &.disabled {
        background:#E0E0E0;
        color: #9E9E9E;
        box-shadow: none;

        &:focus, &:hover {
            background:#0000;
        }
    }
    &:has(*.material-icons) {
        width: 105px;
    }
    &.sm {
        width: 73px;
        height: 32px;
    }
    &.md {
        width: 81px;
        height: 36px;
    }
    &.lg {
        width: 93px;
        height: 42px;
    }
    &.primary {
        background:#2962FF;
        color: #fff;
        &:hover, &:focus {
            background: #0039CB;
        }
    }
    &.secondary {
        background: #455A64;
        color: #fff;
        &:hover, &:focus {
            background: #1C313A;
        }
    }
    &.danger {
        background: #D32F2F;
        color: #fff;
        &:hover, &:focus {
            background:#9A0007;
        }
    }
}